module Solutions.Day{{ day }}
  ( aoc{{ day }}
  ) where

import           Common.AoCSolutions (AoCSolution (MkAoCSolution),
                                      printSolutions)
import           Text.Trifecta       (Parser)

aoc{{ day }} :: IO ()
aoc{{ day }} = do
  printSolutions {{ day }} $ MkAoCSolution parseInput part1
  printSolutions {{ day }} $ MkAoCSolution parseInput part2

parseInput :: Parser String
parseInput = undefined

part1 :: String -> String
part1 = undefined

part2 :: String -> String
part2 = undefined
